<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
        Hi, I'm Anurag Das, currently enrolled in the Software Development Program at Seneca College. 
        I'm passionate about sports, particularly soccer and basketball, and I'm a fan of watching movies 
        and UFC shows. My aspiration post-graduation is to secure a position in web development with a prominent company. 
        
        Designing visually appealing webpages is something I enjoy, and I am eager to acquire new techniques and skills in my web 
        programming course to create top-notch web pages.
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Stay tuned.</p>
    </aside>
  </div>
</div>